<div style="display: flex; ">
  <div style="width: 40%;" class="text-center p-3 mb-2 bg-secondary text-white padding-top: 20px;">
    <img src="../../../../assets/Images/partidos.jpg" class="rounded-circle" width="150px" height="150px">
    <h1>Partidos</h1>
    <p>En esta página mostraremos los próximos partidos</p>
    <button type="button" routerLink="/partidos/agregar">Nuevo Partido</button>
  </div>
  <div style="width: 60%;" style="margin: auto; margin-top: 20px;">
    <div class="input-group flex-nowrap" style="margin-bottom: 50px;">
      <span type="button" class="input-group-text" id="addon-wrapping">Buscar</span>
      <input type="text" class="form-control" placeholder="Ingrese su búsqueda">
    </div>

    <p>Mostrando 4 partidos</p>


    <ul *ngFor="let partido of partidos">
      <img src="../../../../assets/Images/calendar.jpg" height="20px" width="20px">
      {{partido.fechaHora}} : {{ partido.idVisitante }} vs {{ partido.idLocal }}
    </ul>

  </div>
</div>
