<nav class="navbar bg-body-tertiary sticky-top" style="background-color: #E2E1FF;">
  <div class="container-fluid">

    <div class="d-flex justify-content-start">
      <img src="assets/Images/ball.png" width="25%" routerLink="/">
      <button type="button" class="btn btn-link">Datos deportivos</button>
    </div>
    <form class="d-flex justify-content-end" role="search">
      <button type="button" class="btn btn-link">Partidos</button>
      <button type="button" class="btn btn-link">Equipos</button>
      <button type="button" class="btn btn-link">Sucesos</button>
    </form>
  </div>
</nav>
