<img src="../../../assets/Images/futbol1.jpg" height="200px" width="100%">
<table class="table text-center">
  <thead>
    <th colspan="3">
      <h3>Datos deportivos v42</h3>
    </th>

  </thead>
  <tbody>
    <td routerLink="/partidos">
      <img src="../../../assets/Images/partidos.jpg" class="rounded-circle" width="150px" height="150px">
      <p>Partidos</p>
    </td>
    <td>
      <img src="../../../assets/Images/equipos.png" class="rounded-circle" width="150px" height="150px">
      <p>Equipos</p>
    </td>
    <td>
      <img src="../../../assets/Images/sucesos.jpg" class="rounded-circle" width="150px" height="150px">
      <p>Sucesos</p>
    </td>
  </tbody>
</table>
